<div class="row">
    <div class="col-12">

<div class="add-recipe-vp">
      <div>
        <div class="recipe-title" style="margin-top:-1%; margin-bottom:1%;">
          {{recipe.recipe_name}}
          </div>
          
          <div class="note-textarea description" style="width:auto;">
            {{recipe.description}}</div>
            </span>
        <br>
  
  <br>
  <br>

  <div class="row">
        <div class="col-2"></div>
<div class="col-md-4 col-sm-12 regular-font">
  {{!-- cloudinary image --}}
  <img src={{recipe.img_name}} class="upload-img" style="margin-top:3%;"><br>
  <br>
  </div>

<div class="col-md-4 col-sm-12 regular-font">
   <div class="add-recipe-vp">
        <br><br>

  <div class="regular-font" style="text-align:left;">
    <u>Ingredients:</u> 
  <br>
  <span class="note-textarea" style="text-align:left;">
  {{recipe.ingredients}}</span>
  </div>
  <br>
  <div class="regular-font" style="margin-top:4%; text-align:left;">
    <u>Directions:</u> 
  <br>
  <span class="note-textarea" style="text-align:left;">
  {{recipe.steps}}</div></div></span>
  </form>
  </div>
  <br>
  <br>
<div class="col-12">
<div class="col-md">
  <br> <br>
<a class="btn btn-md add-recipe-btn regular-font" role="button" href="/add-recipe">
      Add a recipe!
      </a>
      </section>
      </div>
      </div>
      </div>
      </div>